{
  "training": {
    "optimizer": "adam",
    "clip_c": 1,
    "lrate": 0.0001,
    "use_cuda":true
  },
  "management": {
    "monitor_loss": 1000,
    "print_samples": 20000,
    "checkpoint_freq":1000
  },
  "data": {
    "train_data":"/disk/xtzhao/datasets/POS_CN/train_data",
    "test_data":"/disk/xtzhao/datasets/POS_CN/test_data",
    "batch_size": 80,
    "n_words": 5000,
    "valid_batch_size": 80,
    "max_length": 1000,
    "save_dir": "/disk/xtzhao/models/seq2seq_pytorch",
    "load_dir": false
  },
  "model": {
    "word_emb_dim": 300,
    "hidden_size": 50,
    "use_dropout": false,
    "num_layers": 4,
    "bidirectional": true,
    "batch_first": true
  }
}
